{{extend 'chapter_sidebar.html'}}


<script type="text/javascript">
    $("#main").css("margin-top", "100px");
</script>
<div class="article-wrapper">
    <div class="article-info">
        <p class="article-title">{{=article.title}}</p>
        <div class="article-links pull-right">
            <a class='btn' href="{{=URL('download', args=article.edited_attatchment)}}">Download</a>
        </div>
            <p class='article-published'>Published on {{=article.publication_date.strftime('%B %d, %Y')}}</p>
            <p class='article-author'>by {{=author_user.first_name}} {{=author_user.last_name}}</p>
        </div>
        <div class="article-view">
        </div>
        <script type="text/javascript">
$(window).load(function() {


    html1 = " <object id='pdf-object' data=\"{{=URL('embed_download', args=article.edited_attatchment)}}\" width=100% height="
    html2 = "px> Alas, it appears your browser doesn't have support for embedded PDF documents. Click the download button above to read this article.  </object>"
    var view = $('.article-view');

    width = Number(view.width());

    height = Math.floor(width * 11/8.5 + 100);
    $('.article-view').html(html1 + String(height) + html2)


});
        </script>
</div>
