{{left_sidebar_enabled=True,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{include}}
{{block left_sidebar}}
<div class="chapter-sidebar drawer">
    <div class="drawer-header">
        <h2 class="center chapters-header">{{=T("Chapters")}} <span class="drawer-toggle pull-right"><span class="drawer-open"></span><span class="drawer-close"></span></h2>
    </div>
    <div class="drawer-contents">
        <ul>
            {{for chapter in chapters:}}
            <li>{{=A(T(chapter.name), _href=URL('default', 'chapter', args=chapter.id))}}</li>
            {{pass}}
        </ul>
    </div>
</div>

<script src="{{=URL('static', 'js/drawer.js')}}" type="text/javascript"></script>
{{end}}
