
.chapter-sidebar {
    box-shadow: 1px 1px 3px grey;
}

.shadow {
    box-shadow: 1px 1px 3px grey;
    padding: 10px;
}

.article-list-item {
    clear: both;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 1px 1px 3px grey;
}

.article-links a {
    display: block;
    margin-bottom: 10px;
}

.article-published {
    float: right;
    margin-right: 20px;
    margin-top: 28px;
}

.article-info {
    margin-top: 10px;
    font-size: larger;
}

.article-author {
    margin-left:50px;
}

.article-wrapper {
   padding: 10px; 
}
